madplan-v2/n8n-workflows/madplan---hent-opskrifter-v2.json
{
  "name": "Madplan - Hent Opskrifter v2",
  "nodes": [
    {
      "parameters": {
        "path": "madplan/opskrifter",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "name": "Webhook",
      "webhookId": "madplan-opskrifter",
      "id": "fb74e0ea-3716-4f01-9d83-9d8071f4caae"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appufrDN3IA6Jhli9",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblY7ZZQpp6iDiGDO",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        440,
        0
      ],
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "V0XbkfzDRzkiO5WJ",
          "name": "Airtable Personal Access Token account"
        }
      },
      "id": "2217309d-1c4f-4bb8-b182-49f0906bd514"
    },
    {
      "parameters": {
        "jsCode": "const query = $('Webhook').first().json.query;\nconst items = $input.all().filter(i => i.json.EjerId === query.ejerId);\nconst opskrifter = items.map(i => ({\n  id: i.json.id,\n  ejerId: i.json.EjerId,\n  titel: i.json.Titel,\n  portioner: i.json.Portioner || 4,\n  ingredienser: (i.json.Ingredienser || '').split('\\n').filter(x => x.trim()),\n  fremgangsmaade: i.json.Fremgangsmaade || '',\n  oprettetDato: i.json.Dato,\n  billedeUrl: i.json.BilledeUrl || null,\n  kilde: i.json.Kilde || null,\n  favorit: i.json.Favorit || false,\n  tags: i.json.Tags || []\n}));\nreturn [{ json: { success: true, data: opskrifter } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "name": "Transform",
      "id": "3d641f18-db67-4ffb-9c83-014bf3e2d7b1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        0
      ],
      "name": "Respond",
      "id": "32dd7074-56c7-443d-94ad-865ea6dbe27e"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Transform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": null,
  "active": true
}