madplan-v2/n8n-workflows/madplan---hent-uge.json
{
  "name": "Madplan - Hent Uge",
  "nodes": [
    {
      "parameters": {
        "path": "madplan/uge",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "name": "Webhook",
      "webhookId": "madplan-uge",
      "id": "38f79b17-e600-4d27-916e-41cf328364b1"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appufrDN3IA6Jhli9",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblDLvyhNSt6MrJ5Q",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        440,
        0
      ],
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "V0XbkfzDRzkiO5WJ",
          "name": "Airtable Personal Access Token account"
        }
      },
      "id": "a2769cef-749d-431f-9f63-c5428fc39d38"
    },
    {
      "parameters": {
        "jsCode": "const query = $('Webhook').first().json.query;\nconst ejerId = query.ejerId;\nconst aar = parseInt(query.aar);\nconst uge = parseInt(query.uge);\n\nconst items = $input.all();\nconst found = items.find(i =>\n  i.json.EjerId === ejerId &&\n  i.json.Aar === aar &&\n  i.json.Uge === uge\n);\n\nif (!found) {\n  return [{ json: { success: true, data: null } }];\n}\n\nconst u = found.json;\nreturn [{ json: {\n  success: true,\n  data: {\n    id: u.id,\n    ejerId: u.EjerId,\n    aar: u.Aar,\n    uge: u.Uge,\n    dage: {\n      mandag: { ret: u.Mandag || null, opskriftId: u.MandagOpskriftId || null, note: u.Mandag_Note || null },\n      tirsdag: { ret: u.Tirsdag || null, opskriftId: u.TirsdagOpskriftId || null, note: u.Tirsdag_Note || null },\n      onsdag: { ret: u.Onsdag || null, opskriftId: u.OnsdagOpskriftId || null, note: u.Onsdag_Note || null },\n      torsdag: { ret: u.Torsdag || null, opskriftId: u.TorsdagOpskriftId || null, note: u.Torsdag_Note || null },\n      fredag: { ret: u.Fredag || null, opskriftId: u.FredagOpskriftId || null, note: u.Fredag_Note || null },\n      loerdag: { ret: u.Loerdag || null, opskriftId: u.LoerdagOpskriftId || null, note: u.Loerdag_Note || null },\n      soendag: { ret: u.Soendag || null, opskriftId: u.SoendagOpskriftId || null, note: u.Soendag_Note || null }\n    }\n  }\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "name": "Transform",
      "id": "37b4702b-ab1f-4db9-bb26-3ef74def047a"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        0
      ],
      "name": "Respond",
      "id": "21fd96a3-ae36-44f8-8e35-19f1d9d32550"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Transform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": null,
  "active": true
}