madplan-v2/n8n-workflows/madplan---slet-opskrift-v2.json
{
  "name": "Madplan - Slet Opskrift v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "madplan/opskrift/slet",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "webhook-1",
      "name": "Webhook",
      "webhookId": "slet-opskrift"
    },
    {
      "parameters": {
        "operation": "deleteRecord",
        "base": {
          "__rl": true,
          "value": "appufrDN3IA6Jhli9",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblY7ZZQpp6iDiGDO",
          "mode": "id"
        },
        "id": "={{ $json.body.opskriftId }}"
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        220,
        0
      ],
      "id": "airtable-1",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "V0XbkfzDRzkiO5WJ",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ],
      "id": "respond-1",
      "name": "Respond"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": null,
  "active": true
}